<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Verophyle.Regexp" publicKeyToken="74cddc3ca888ce35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5684.13780" newVersion="1.1.5684.13780" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>